.return{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.body {
    background-color: #202124;
    padding-bottom: 905px;
    padding-top: 30px;
}

.escolha {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.escolha input {
    background: #848a96;
    border-radius: 20px;
}
.escolha select {
    background: #848a96;
    border-radius: 20px;
}

.escolha button {
    margin-top: 20px;
    background: #848a96;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
}
.body a {
    border-style:outset;
    text-decoration: none;
    background: #606582;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
}